#main-deck {
  display: flex;
  background-color: gray;
  height: 60vh;
  overflow: auto;
  flex-wrap: wrap;
  padding: 6px;
  justify-content: center;

  .mini-card {
    height: 14vh;
    margin: 3px;
    padding: 0;
  }
}

.deck-length {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#main-deck::-webkit-scrollbar {
  display: none;
}


#extra-deck {
  display: flex;
  background-color: gray;
  height: 24vh;
  overflow: auto;
  flex-wrap: wrap;
  padding: 6px;
  justify-content: center;

  .mini-card {
    height: 16vh;
    margin: 3px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 10px;
  }
}