#main-deck {
  display: flex;
  background-color: gray;
  height: 60vh;
  width: 55vw;
  overflow: auto;
  flex-wrap: wrap;
  padding: 6px;
  justify-content: center;

  .mini-card {
    height: 16vh;
    margin: 3px;
    padding: 0;
  }
}


#main-deck::-webkit-scrollbar {
  display: none;
}


#extra-deck {
  display: flex;
  background-color: gray;
  height: 22vh;
  width: 55vw;
  overflow: auto;
  flex-wrap: wrap;
  padding: 6px;
  margin: 20px 0;
  justify-content: center;

  .mini-card {
    height: 16vh;
    margin: 3px;
    padding: 0;
  }
}