#card-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  background-color: grey;
  color: white;
  width: 100%;
  p {
    margin: 0;
  }
  h6 {
    margin-bottom: 5px;
  }

  button {
    margin: 10px;
    align-self: center;
  }

  #card-image {
    align-self: center;
  }

  #card-text {
    margin: 20px 20px 20px 8px;
  }
  
  #desc {
    height: 40vh;
    overflow-y: auto;
  }

#arrow {
  cursor: pointer;
  height: 40px;
  align-self: center;
  max-width: 50px;
}
}