.home {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  white-space: pre-wrap;

  .jumbotron {
    margin-top: 24px;
  }

  main {
    max-width: 98%;
  }
}

input {
  width: 200px;
  height: 40px;
}