.isDragging {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding-top: 31px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  cursor: grabbing;
}


.mini-card {
  padding: 2px;
  max-width: 172px;
  max-height: 250px;
}

@media screen and (max-width: 768px) {
  .mini-card {
    width: 17vw;
  }
}

@media screen and (max-width: 380px) {
  .mini-card {
    width: 16.5vw;
  }
}

// @media screen and (max-width: 768px) {
//   .mini-card {
//     width: 17vw;
//   }
// }